.bg{
    width: 100%;
    height: 670px;
    background-image: url('../Images/home_finance_slider_bg.jpg');
    background-position: 50%  50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: #ffffff;
        font-size: 2.5rem;
        @media @phone{
            font-size: 2rem;
           
        }
        span{
            color: #2CF9F2;
        } 
    }
}
.owl-item{
    margin-top: 50px;
}
.section-2{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
.wrap{
  

    @media @phone{
        width: 80%;
    margin: 0 auto;
    }
}
.cloud{
    width: 100%;
    height: 400px;
    h1{
      font-size: 2.5rem;
      color: #2d2d2d;
    }
    .divider{
        width: 100px;
        height: 2px;
        background:#1E3D63;
        margin-top: 20px;
       margin-bottom: 30px;
    }
    p{
       color: #808080;
        line-height: 30px;
        letter-spacing: 1px;
    }
    #btn-learn{
        margin-top: 30px;
        .custom-btn();
    }
}
.graph{

    @media @phone{
        width: 90%;
        height: 300px;
        img{
           width: 100%;
        }
    }
   
}
.service{

    h1{
        text-align: center;
        font-size: 2.5rem;
        color: #2d2d2d;
    }
    .divider-service{
        width: 20%;
        height: 2px;
        background:#1E3D63;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    p{
        color: #808080;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
}
.services{




    @media @phone {
    width: 100%;
    height: 310px;
    margin: 0 auto;
    background: #F9F9F9;
    }
    
    .icon{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
      
    }
    .fa-globe, .fa-gem, .fa-chart-line{
     margin-top: 20px;
     font-size: 65px;
     color: #4D76AA; 
    }
    
    h2{
        text-align: center;
        font-size: 1.5rem;
        color: #2d2d2d;
    
    }
      p{
          margin-top: 25px;
          width: 84%;
          margin: 0 auto;
          margin-top: 20px;
          color: #808080;
          letter-spacing: 1px;
          line-height: 30px;    
      }
    
      }
#learn-more{
  width: 100%;
  .custom-btn-service();
  margin-bottom: 50px;
}
// h2:hover, .fa-globe:hover, .fa-gem:hover, .fa-chart-line:hover{
  

// }
.hover{
    width: 100%;
    height: auto;

}
.hover:hover{
    color: #2CF9F2;
}

.middle-bg{
    width: 100%;
    height: 292px;
    background-image: url('../Images/counters-bg-image.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    h3{
        color: #ffffff; 
        margin-top: 40px;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    h1{
        font-size: 2.4rem;
        color: #ffffff;
        margin-bottom: 40px;
    }
    #btn-learn{
        .custom-btn()
    }

}

.content-box-percentage{
  

    .percentage-box{
      text-align: center;
      padding-top: 100px;
     @media @phone {
        width: 100%;
        height: 250px;
        
     }
    }
    .percentage{
        font-size: 5rem;
        color: #4C76B0;
    }
    h3{
        margin-top: 10px;
        color: #818181;
        font-size: 1.2rem;
    }
}
.client-feed-back{
  margin-top: 50px;
  background: #F9F9F9;
  padding-top: 100px;
  @media @phone {
    width: 100%;
    height: 280px;
    
 }
 
   h1{
    text-align: center;
    font-size: 2.2rem;

   }
  .divider-feedback{
      width: 100px;
      height: 2px;
      background:#223E64;
      margin: 0 auto;   
      margin-top: 40px;
  }
}

.client-logo{
    width: 100%;
    height: 468px;
    padding-top: 50px;

    .logo-box {

        width: 300px;
        height: 100px;
        margin: 0 auto;        
        img{
            width: 100%;
        }
       
    }
    p{
        color: #9AA2AC;
        line-height: 30px;
        font-size: 1.3rem;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 80px;

    }
    .creative{
        width: 100%;
        height: 110px;
        border: 1px solid #EBEBEB;
        text-align: center;
        padding-top: 20px;
        h1{
           margin-bottom: 10px;
           color: #2D2D2D;
           font-weight: bold;
        }
        h3{
            color: #969595;
        }
    
    
    }

}
.bottom-bg{
    margin-top: 40px;
    width: 100%;
    height: 490px;
    background-image: url('../Images/ready_to_talk_cta_bg.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    h1{
       font-size: 45px;
       color: #ffffff;
       margin-bottom: 30px;
    }
    h3{
        color: #919AA6;
        line-height: 35px;
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
    }
    #btn-talk{
        margin-top: 40px;
        .custom-btn()
    }
  

   
}